
# Python
__pycache__/
build/
dist/

# uv / venv
.venv/
uv.lock

# Env / secrets
.env
.env.*
!.env.example

# Logs / cache
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
